<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Home Page</title>
  </head>
  <body>
    <%- include("./partials/navbar") %>

    <div class="container mt-5">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="coverimage" class="form-label">Cover Image</label>
          <input
            type="file"
            name="coverImage"
            class="form-control"
            id="coverimage"
          />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" class="form-control" id="title" />
        </div>
        <div class="mb-3">
          <label for="body" class="form-label">Body</label>
          <textarea class="form-control" name="body" id="body"></textarea>
        </div>
        <button type="submit" class="btn btn-info">Add Blog</button>
      </form>
    </div>

    <%- include("./partials/script") %>
  </body>
</html>
